body{
    margin: 0;
    height: 100%;
}
.navbar {
    padding: 0 0 0.01rem;
    padding: 10px 0;
    font-size: 20px;
    box-shadow: 5px 5px 10px #292929c7;
}
.nav-item {
    padding: 0px 10px 5px 5px;
}
.navbar-dark .navbar-nav .nav-link {
    font-size: 1.2rem;
}
.navbar-nav{
    margin-right:1%;
}
.dropdown{
    width: 80px;
}
.nav-link-icon{
    font-size: 30px;
    margin-left: 45px;
}


